.hero {
  height: 70vh;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container.intro-container {
  display: flex;
  height: 50%;
  font-size: 5.5em;
  justify-content: center;
  align-items: center;
}

.hero-left {
  flex-grow: 1;
  text-align: center;
  height: 100%;
  margin: 15px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  height: 100%;
}

.hero-links {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title-hero {
  color: #002ef1;
  font-weight: bold;
}

.hero-faq {
  margin: 0 15px;
}

.hero-faq-link {
  color: black;
  font-size: 1.2rem;
  line-height: 3.5rem;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* .video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
} */
